<article class="post">
  <div class="title">
    <span>({{topic}})</span>
    <a href="{{content}}">{{title}}</a>
    <span>({{content}})</span>
  </div>
  <div class="meta">
    By {{user.username}} on {{format_date created_at}} <button class="btn btn-primary" id="upvote-btn">+1</button>
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    |
    <p>Votes: {{vote_count}}</p>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
    
  </div>
</form>
{{/if}}

{{> comments comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}